@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.fullpage {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

h1 {
    position: absolute;
    width: auto;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: blanchedalmond;
}

.login_bt {
    width: 200px;
    height: 30px;
    color: rgb(229, 241, 229);
    background-color: green;
    cursor: pointer;
}

.username input {
    width: 200px;
    height: 25px;
}

body {
    background-image: url(images/bg2.jpg);
    background-size: cover;
}

.password input {
    width: 200px;
    height: 25px;
}